/*CONTENT***************************

	*BASIC
	*BUSINESS-CARD
	*ICONS
	*TABLES

*/

/*BASIC************************************************************
*******************************************************************/
body {
	color: #444;
}

header {
	border: 1px solid #d6d6d6;
	padding: 2em;
	padding-bottom: 10px;
	margin-bottom: 2em;
	overflow: hidden;
}

h1 {
	font-size: 2em;
}

img {
	max-width: 100%;
}

.page {
	margin-top: 1.5em;
}

.centered {
	margin-right: auto;
	margin-left: auto;
}

.padding-container {
	position: relative;
	padding: 1.5em 15px;
	overflow: hidden;
}

.align-center {
	text-align: center;
}

.floated-r {
	clear: both;
	float: right;
}

.floated-l {
	clear: both;
	float: left;
}

.absolute-l {
	position: absolute;
	left: 0;
	top: 36px;
	margin-left: 15px;
}

.absolute-r {
	position: absolute;
	right: 0;
	top: 36px;
	margin-right: 15px;
}

.content {
	border: 1px solid #ddd;
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	overflow: hidden;
}


/*BUSINESS-CARD*****************************************************
*******************************************************************/
.business-card__logo {
	float: left;
	width: 100px;
	margin-right: 2em;
}

.business-card__info {
	float: left;
	max-width: 600px;
}

	.business-card__info div {
		display: inline;
		float: left;
		margin-right: 2em;
	}



/*ICONS*************************************************************
*******************************************************************/
.icon {
	display: inline-block;
	background-image: url("../images/sprite.png");
}

.icon-container:hover {
	text-decoration: none;
}

.icon-inscription {
	position: relative;
	top: -15px;
	margin-left: 2px;
}

	.icon-inscription--down {
		top: -5px;
	}

.icon-edit {
	width: 37px;
	height: 37px;
	background-position: 0 -72px;
}

.icon-arrow {
	width: 62px;
	height: 34px;
	background-position: 0 -33px;
}

.icon-arrow-down {
	width: 37px;
	height: 14px;
	background-position: 0 -205px;
	cursor: pointer;

	position: relative;
	top: 3px;
}

.icon-clock,
.icon-plus {
	width: 42px;
	height: 42px;
}

.icon-clock {
	background-position: 0 -113px;
}

.icon-plus {
	background-position: 0 -159px;
}

.icon-lens {
	width: 29px;
	height: 29px;
	background-position: 0 0;

	position: absolute;
	right: 4px;
	top: 6px;
	z-index: 10;
}

/*TABLES************************************************************
*******************************************************************/
.order-table {
	text-align: center;
	margin-bottom: 15em;
}

	.order-table tr td:first-child,
	.order-table tr th:first-child {
		border-left-color: transparent;
	}

	.order-table tr td:last-child,
	.order-table tr th:last-child {
		border-right-color: transparent;
	}

	.order-table tr:last-child td {
		border-bottom-color: transparent;
	}

	.order-table th {
		background-color: #f2f2f2;
		text-align: center;
	}

.group-row td {
	color: #939393;
}

	.group-row td:first-child {
		text-align: left;
		padding-left: 2.5em;
		border-right-color: transparent;
	}

	.group-row td:nth-child(n) {
		border-bottom-color: transparent;
		padding-top: 3px;
		padding-bottom: 3px;
	}

		
/*NAVIGATION AREA***************************************************
*******************************************************************/
aside {
	position: relative;
	padding-bottom: 1em;
	background-color: #efefef;
}

.input-common {
	width: 17em;
	padding: 8px 32px 8px 10px;
}

.input-container {
	position: relative;
	width: 17em;
	padding-bottom: 1em;
	border-bottom: 1px solid #c3c3c3;
}

/*LISTS*/
.list-container {
	position: relative;
	margin-top: 1em;
	text-align: center;

	overflow: auto;
	height: 80vh;
}

.option-list {
	margin-top: 1em;
}

.option-list li {
	display: inline-block;
	margin-right: 10px;
}

	.option-list li a {
		color: #939393;
	}

.option-list--down {
	margin-left: 15px;
}

.list-name {
	margin-top: 1em;
}

	.list-name li {
		width: 80%;
		margin-right: auto;
		margin-left: auto;

		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #d5d5d5;
	}



/*FANCY SCROLLBAR***************************************************
*******************************************************************/
/*.fancy-scrollbar { 
	-webkit-overflow-scrolling: touch;
	-webkit-transform:translate3d(0,0,0)
}*/

.fancy-scrollbar::-webkit-scrollbar { 
	height: 20px; 
	width: 20px;
} 


.fancy-scrollbar::-webkit-scrollbar-track-piece {  
	background: -webkit-linear-gradient(left, #efefef 0%,#efefef 40%,#ffffff 40%,#ffffff 60%,#efefef 60%,#efefef 100%,#efefef 100%,#efefef 100%); 
}


.fancy-scrollbar::-webkit-scrollbar-thumb:horizontal,
.fancy-scrollbar::-webkit-scrollbar-thumb:vertical { 
	background-color: #d8d8d8;
	width: 20px;
	height: 50px
}







